<div class="row">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1 well">
    <%= simple_form_for @sighting, class: 'form' do |f| %>
      <%= f.input :location, input_html: { class: 'form-control input-box' } %>
      <div data-behaviour='datepicker' class="input-group date-picker">
        <%= f.input :when,
                    input_html: { class: 'form-control input-box' } %>
      </div>
      <%= f.input :comment, input_html: { class: 'form-control input-box' } %>
      <%= f.button :submit, input_html: { class: 'form-control btn-submit' } %>
    <% end %>
  </div>
</div>
